In [1]:
class_marks = {
    "Maths": [87, 78, 90, 65, 76, 88, 95, 85, 73, 92],
    "Science": [80, 85, 78, 88, 90, 75, 86, 91, 82, 84],
    "English": [70, 75, 80, 85, 90, 95, 85, 88, 89, 87],
    "IT": [95, 90, 85, 80, 75, 70, 65, 95, 92, 89],
}

overall_marks = []

print("Subject-wise Results:")
for subject, marks in class_marks.items():
    highest = max(marks)
    lowest = min(marks)
    average = sum(marks) / len(marks)
    overall_marks.extend(marks)
    print(f"{subject}: Highest = {highest}, Lowest = {lowest}, Average = {average:.2f}")

overall_highest = max(overall_marks)
overall_lowest = min(overall_marks)
overall_average = sum(overall_marks) / len(overall_marks)

print("\nOverall Results:")
print(f"Highest = {overall_highest}, Lowest = {overall_lowest}, Average = {overall_average:.2f}")

Subject-wise Results:
Maths: Highest = 95, Lowest = 65, Average = 82.90
Science: Highest = 91, Lowest = 75, Average = 83.90
English: Highest = 95, Lowest = 70, Average = 84.40
IT: Highest = 95, Lowest = 65, Average = 83.60

Overall Results:
Highest = 95, Lowest = 65, Average = 83.70

In [3]:
basic_salary = float(input("Enter the basic salary: "))

if basic_salary <= 10000:
    hra = 0.20 * basic_salary
    da = 0.80 * basic_salary
elif basic_salary <= 20000:
    hra = 0.25 * basic_salary
    da = 0.90 * basic_salary
else:
    hra = 0.30 * basic_salary
    da = 0.95 * basic_salary

gross_salary = basic_salary + hra + da
print("Basic salary was:",basic_salary)
print(f"Gross Salary: {gross_salary:.2f}")

Basic salary was: 15000.0
Gross Salary: 32250.00

In [12]:
import re

password = input("Enter a password: ")
print("Password entered:",password)
pattern = r"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$#@]).{6,16}$"

if re.match(pattern, password):
    print("Password is valid.")
else:
    print("Password is invalid.")

Password entered: Kin23@
Password is valid.

In [5]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

# (i)
L.extend([200, 300])
print("After adding 200 and 300:", L)

# (ii)
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

# (iii)
L.sort()
print("Ascending order:", L)

# (iv)
L.sort(reverse=True)
print("Descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [6]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# (i)
D[6] = "Six"
print("After adding key=6:", D)

# (ii)
D.pop(2, None)
print("After removing key=2:", D)

# (iii)
print("Is key=6 present?", 6 in D)

# (iv)
print("Number of elements:", len(D))

# (v)
print("All values concatenated:", "".join(D.values()))

After adding key=6: {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
After removing key=2: {1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
Is key=6 present? True
Number of elements: 5
All values concatenated: OneThreeFourFiveSix

In [7]:
import random

numbers = [random.randint(100, 900) for _ in range(100)]
odds = [n for n in numbers if n % 2 != 0]
evens = [n for n in numbers if n % 2 == 0]
primes = [n for n in numbers if all(n % i != 0 for i in range(2, int(n**0.5) + 1)) and n > 1]

print(f"Odd Numbers: {len(odds)}")
print(f"Even Numbers: {len(evens)}")
print(f"Prime Numbers: {len(primes)}")

Odd Numbers: 50
Even Numbers: 50
Prime Numbers: 10

In [11]:

def compound_interest(principal, rate, time):
    return principal * (1 + rate / 100) ** time - principal

p = float(input("Principal: "))
r = float(input("Rate: "))
t = float(input("Time: "))
print("The principal rate and time are:",p,r,t)
print("Compound Interest:", compound_interest(p, r, t))

The principal rate and time are: 1000.0 10.0 2.0
Compound Interest: 210.00000000000023

In [9]:
#Part A)
class Restaurant:
    def __init__(self, name, cuisine_type):
        self.name = name
        self.cuisine_type = cuisine_type

    def describe_restaurant(self):
        print(f"Restaurant: {self.name}, Cuisine: {self.cuisine_type}")

    def open_restaurant(self):
        print(f"{self.name} is now open!")

restaurant = Restaurant("Food Palace", "Italian")
restaurant.describe_restaurant()
restaurant.open_restaurant()
#Part B)
class User:
    def __init__(self, first_name, last_name, age, location):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.location = location

    def describe_user(self):
        print(f"User: {self.first_name} {self.last_name}, Age: {self.age}, Location: {self.location}")

    def greet_user(self):
        print(f"Hello, {self.first_name}! Welcome back.")

user1 = User("John", "Doe", 25, "New York")
user2 = User("Jane", "Smith", 30, "Los Angeles")

user1.describe_user()
user1.greet_user()
user2.describe_user()
user2.greet_user()

Restaurant: Food Palace, Cuisine: Italian
Food Palace is now open!
User: John Doe, Age: 25, Location: New York
Hello, John! Welcome back.
User: Jane Smith, Age: 30, Location: Los Angeles
Hello, Jane! Welcome back.